.menu__link{
    color: var(--cinza);
    margin-right: 1.25rem;
    text-decoration: none;
    text-transform: lowercase;
}
.menu__link.ativo{
    color: var(--cinza-mais-escuro);
    font-weight: bold;
}

.menu__link:hover{
    text-decoration: underline;
}