:root{
    --branco: #fdfdfd;
    --vinho: #8d0606;
    --vinho-escuro: #620404;
    --cinza: #808080;
    --cinza-claro: #e5e5e5;
    --cinza-escuro: #595959;
    --cinza-mais-escuro: #333333;
    --cinza-medio: #cecece;
}